---
---

<section class='w-[90%] m-auto flex flex-col gap-[10px] py-[20px]'>
  <button class='bg-brightBlue p-4 font-bold rounded-2xl text-white transition-colors hover:bg-[#766cf1] hover:shadow-lg'>Proceed to Payment</button>
  <button class='text-desaturatedBlue transition-colors font-bold hover:text-darkBlue'>Cancel Order</button>
</section>