---
---
<div class='flex flex-wrap justify-center items-center'>
  Challenge by <a class='text-brightBlue font-bold px-2' href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a class='text-brightBlue font-bold px-2' href="https://github.com/AbrahamEspina">Abraham Espinosa</a>.
</div>